@import url(estilosGlobales.css);

.icon-bar {
    display: block;
}

@media screen and (max-width: 675px) {
    .icon-bar {
        display: none;
    }
}

.wrap-header {
    width: 70%;
    position: absolute;
    top: 15%;
    left: 14%;
    border-bottom: 3px solid #111;
}
.wrap-header h1 {
    text-align: center;
    font-size: 50px;
}

.wrap {
    width: 95%;
    height: auto;
    margin: 300px 0px 10px 0px;
    padding: 20px;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.caja-perros {
    display: none;
    margin: 20px;
    width: 35%  !important;
    box-shadow: 0px 0px 5px 5px #EDEDED;
    height: auto;
    transition: 0.9s;
    padding: 20px 0px;
    margin-top: 20px;
}
.caja-perros:hover {
    box-shadow: 0px 0px 5px 1px #ff9d00;
}

@media screen and (max-width: 900px) {
    .caja-perros {
       width: 70% !important;
    }
}

@media screen and (max-width: 500px) {
    .caja-perros {
       width: 90% !important;
    }
}


.nombre {
    width: 100%;
    text-align: center;
}
.nombre h2 {
    margin: 0;
}
.nombre span {
    font-size: 10px;
}

figure {
    width: 100%;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
.imagen img {
    width: 100%;
}
.imagen img {
	-webkit-transform: rotate(15deg) scale(1.4);
	transform: rotate(15deg) scale(1.4);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.imagen img:hover {
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
}

.descripcion-perro {
    width: 100%;
    text-align: center;
}

button.info {
    color: #494949 !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #494949 !important;
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
}

button.info:hover {
    color: #ffffff !important;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s;
}