div.imagen { 
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background: url(../img/imagenSection2.jpg);
	background-size: cover;
	background-position: center;
	margin-bottom: 20px;
	overflow: hidden;
}
.header {
	margin: auto;
	z-index: 2;
}	

h1.titulo {
	margin-top: 50%;
	font-family: Satisfy;
	color: white;
	font-size: 48px;
	text-align: center;
}

button.boton {
	margin-left: 33%;
	padding: 16px 42px;
	font-family: Montserrat;
	background-color: rgba(0,0,0,0);
	color: #fff;
	cursor: pointer;
	border: 1px solid #fff;
	font-size: 20px;
	transition: .3s;
}

button:hover {
	transition: .3s;
	background: #fff;
	color: #333;
}

@media screen and (max-width: 640px) {
	h1.titulo {
		font-size: 40px;
	}
	button.boton {
		margin-left: 30%;
	}
}

@media screen and (max-width: 485px) {
	button.boton {
		margin-left: 27%;
	}
}

.global {
	margin-left: 10%;
	margin-bottom: 20px;
	width: 80%;
	padding-right: 20px;
	height: auto;
}

.global-in {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: auto;
}

.presentacion-titulo {
	text-align: center;
	font-size: 40px;
	padding-bottom: 20px;
}

.presentacion {
	box-sizing: border-box;
	width: 60%;
	font-size: 18px;
	line-height: 25px;
	padding: 0px 10px 0px 10px;
	height: auto;
}
.presentacion p:first-child {
	margin-top: 0px;
	margin-bottom: 0px;
}

.presentacion ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.hueso {
	background: url("../img/hueso-para-perros.png") no-repeat left 17px;
	height: 40px;
	padding-left: 44px;
	padding-top: 5px;
}

.hueso:first-child {
	margin-top: 10px;
}

.hueso:last-child {
	margin-top: 10px;
	margin-bottom: 50px;
}

@media screen and (max-width: 1370px) {
	.global-in {
		flex-flow: wrap;	
		justify-content: center;
	}
	.presentacion {
		width: 600px;
		margin-bottom: 60px;
	}
}

@media screen and (max-width: 624px) {
	.presentacion {
		width: 600px;
	}
	.hueso:last-child {
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 655px) {
	.hueso:last-child {
		margin-bottom: 60px;
	}
}

@media screen and (max-width: 525px) {
	.hueso:first-child {
		margin-bottom: 40px;
	}
	.hueso:last-child {
		margin-bottom: 50	px;
	}
}

@media screen and (max-width: 504px) {
	.hueso:last-child {
		margin-bottom: 110px;
	}
}

@media screen and (max-width: 444px) {
	.hueso:last-child {
		margin-bottom: 130px;
	}
}

@media screen and (max-width: 525px) {
	.presentacion {
		line-height: 30px;
	}
	.hueso {
		margin-top: 30px;
	}
}

.slider {
	width: 30%;
}
.slider img {
	height: 100%;
}